@model  Mbpros.Models.PatientModel
@{
    ViewBag.Title = "PatientSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form_border">
    <form class="form-horizontal customIzeFormELement normal_label" id="PatientSearch">
        <h2>Patient Information Form Manager</h2>
        @{
            if (ViewBag.EditMessage != "" && ViewBag.EditMessage != null)
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> @ViewBag.EditMessage.
                </div>
            }
        }

        <div class="custom-seach-wrap">
            <div class="row">
                <div class="col-sm-3 big-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Patient Name</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control input-sm", @maxlength = "100",id="PatientName" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 big-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Form ID</label>
                        <div class="col-sm-7">
                           
                            @Html.TextBoxFor(model => model.FormId, new { @class = "form-control input-sm" , @id="FormId", @maxlength = "8"})
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 big-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">SSN</label>
                        <div class="col-sm-7">
                            
                            @Html.TextBoxFor(model => model.SSN, new { @class = "form-control input-sm" , @id="SSN" , maxlength = "11"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">  
                <div class="col-sm-3 big-3">
                    <div class="form-group date-row">
                        <label for="inputEmail3" class="col-sm-5 control-label">Submission Date</label>
                        <div class="col-xs-3 dash">
                            @Html.TextBoxFor(model => model.SubFrom, new {id="SubFrom" , @class = "form-control input-sm datetimepicker", onkeydown = "return false", @placeholder = "from" })
                        </div>
                        <div class="col-xs-3">
                            @Html.TextBoxFor(model => model.SubTo, new {id="SubTo" , @class = "form-control input-sm datetimepicker", onkeydown = "return false", @placeholder = "to" })
                        </div>
                    </div>
                </div>                       
                <div class="col-sm-3 big-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Policy ID#</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.PolicyID, new { @class = "form-control input-sm", @maxlength = "20",id="PolicyID" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 big-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Birth Date</label>
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.DateofBirth, new { @class = "form-control input-sm datetimepicker", onkeydown = "return false",id="DateofBirth"  })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm-3 big-3">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-5 control-label">Form Type</label>
                        <div class="col-sm-7">
                            @Html.DropDownListFor(model => model.ArchiveOption, Model.OptionList, new { id = "ddlOption", @class = "form-control input-sm" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 inline-btn">
                    <button class="btn btn-primary btn-sm" id="btnSearchPatient"><i class="fa fa-search"></i></button>
                    <button class="btn btn-primary btn-sm" id="btnReset" ><i class="fa fa-refresh"></i></button>
                </div>
            </div>
        </div>
        

    </form>

    <div class="row">
        <div class="col-md-12">
            <div class="jqGrid">
                <table id="divPatientSearch" class="scroll"></table>
                <div id="pager" class="scroll" style="text-align: center;"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/partialviewJS.js"></script>
    <script lang="javascript">
        var gridUrl = '@Url.Action("DynamicGridData3", "Search")';
        var rowCount = 10;
        var filters = new Array();
        var pageNumber = 1;
        $(document).ready(function () {

            $("#ddlOption").val(2);
            isLoggedIn();
            $('#btnSearchPatient').click(function (e) {
             @*   if ('@Session["USERNAME"]' == null || '@Session["USERNAME"]' == '')
                    window.location = '@Url.Action("Login", "Account")'; e.preventDefault();*@

                SearchData();
                return false;
            });

            $('#btnReset').click(function (e) {
                @*if ('@Session["USERNAME"]' == null || '@Session["USERNAME"]' == '')
                    window.location = '@Url.Action("Login", "Account")';*@

                $("#PatientName").val('');
                $("#FormId").val('');
                $("#SSN").val('');
                $("#SubFrom").val('');
                $("#SubTo").val('');
                $("#PolicyID").val('');
                $("#DateofBirth").val('');
                $("#ddlOption").val(2);
                SearchData();
                return false;
            });

            $("#divPatientSearch").jqGrid({
                url: gridUrl,
                datatype: 'json',
                mtype: 'POST',
                postData: { page: "pageIndex", rows: "pageSize", sidx: "sortIndex", sord: "sortDirection", "filters": filters, "firstLoading": false },
                colNames: ['ID', 'Pdf', 'Status', 'SSN', 'Patient Name', 'Office Name', 'Submit Date', 'ID# - Claim#', 'Group Number', 'Insurance Company'],
                colModel: [
                        { name: "PatientID", index: "PatientID", width: 65 },
                       {
                           name: "PatientID", index: "PatientID", width: 40, align: 'center', formatter: function (data) {
                               return '<a href="/Patient/PDFForPatient?patientID=' + data + '" target="_blank"><img src="/images/pdf.gif"></a>'
                           }
                       },
                       //{
                       //    name: "PatientID", index: "PatientID", width: 40, align: 'center', formatter: function (data) {
                       //        return '<a href="/Patient/AddPatient?patientID=' + data + '&callFrom=PatientSearch"><img src="/images/edit.png"></a>'
                       //    }
                       //},          
                       { name: "IsArchived", index: "IsArchived", width: 90, formatter: function (data) { return data == true ? "Archived" : "Un-Archived" } },
                       { name: "SSN", index: "SSN", width: 90 },
                       { name: "PatientName", index: "PatientName", width: 160 },
                       { name: "OfficeName", index: "OfficeName", width: 100 },
                       { name: "CreatedDate", index: "CreatedDate", width: 80 },
                       { name: "PolicyID", index: "PolicyID", width: 160 },
                       { name: "GroupNumber", index: "GroupNumber", width: 130 },
                       { name: "InsuranceCompanyName", index: "InsuranceCompanyName", width: 180 }
                ],
                gridComplete: function () {
                    $('.ui-jqgrid-titlebar-close', '#divPatientSearch').remove();
                    rowCount = $('#divPatientSearch').jqGrid('getGridParam', 'rowNum');

                    var totalRecords = parseInt($("#divPatientSearch").getGridParam("records"));
                    var miniumValue = parseInt($('#pager_center select option:first-child').val());
                    if (totalRecords <= miniumValue) {
                        $('#pager_center input').attr("disabled", true);
                        $('#pager_center select').attr("disabled", true);
                    }
                    else if (totalRecords <= rowCount) {
                        $('#pager_center input').attr("disabled", true);
                        $('#pager_center select').attr("disabled", false);
                    }
                    else {
                        $('#pager_center input').attr("disabled", false);
                        $('#pager_center select').attr("disabled", false);
                    }
                    pageNumber = $("#divPatientSearch").jqGrid('getGridParam', 'page');
                    $('#pager_center select').val(rowCount);

                },
                //scrollOffset: 0,
                //grouping: true,
                pager: jQuery('#pager'),
                rowNum: rowCount,
                height: 'auto',
                //autowidth: true,
                rowList: [10, 20, 50, 100],
                //sortname: 'PatientID',
                //sortorder: "asc",
                viewrecords: true,
                // shrinkToFit: true,
                witdh:'100%',
                shrinkToFit: false,
                autowidth: true,
                resizable:false,
                beforeRequest: function () {
                    responsive_jqgrid($(".jqGrid"));
                },
                cmTemplate: { sortable: false }
            });
        });      

        function SearchData() {
            isLoggedIn();
            var PatientName = $("#PatientName").val();
            var FormId = $("#FormId").val();
            var SubFrom = $("#SubFrom").val();
            var SubTo = $("#SubTo").val();
            var SSN = $("#SSN").val();
            var PolicyID = $("#PolicyID").val();
            var DateofBirth = $("#DateofBirth").val();
            var ArchiveOption = $("#ddlOption").val();
            var IsBack = false;
            filters = {
                PatientName: PatientName, FormId: FormId, SubFrom: SubFrom, SubTo: SubTo, SSN: SSN, PolicyID: PolicyID, DateofBirth: DateofBirth, ArchiveOption: ArchiveOption, IsBack: false
            };
            pageNumber = 1;
            $("#divPatientSearch").jqGrid('setGridParam', { search: true, postData: { "filters": filters, "firstLoading": false } }).trigger("reloadGrid", [{ page: pageNumber }]);
        }
    </script>
}
